.sponsorCard {
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
    margin-bottom: 50vh;
}

.sponsorCard 
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: DaddyDay;
        background-color: rgba(0, 0, 0, 0.4);
        width:100%;
        height:50vh;
        padding: 20px;
    }

.sponsorCard 
    .textContainer {
        display: flex;
        flex-direction: column;
    }

.sponsorCard
    .header {
        margin-bottom: 10px;
    }

.sponsorCard
    .image {
        height:250px;
        width:250px;
    }

.sponsorCard
    .text {
        color: white;
        margin: 20px 0;
    }