.emailRoot {
    display: flex;
    justify-content: center;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    padding: 35vw 0 25vw 0;
}

.emailRoot 
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: DaddyDay;
        background-color: rgba(0, 0, 0, 0.8);
        width:100%;
        padding: 20px;
        scroll-behavior: smooth;
    }
@media (max-width: 500px) {
    .emailRoot .container {
        padding: 0;
        width: none;
    }
}
.emailRoot
    .header {
        color: white;
        margin-bottom: 10px;
        font-family: Corbel;
        font-size: 60px;
    }
.emailRoot
    .bar {
        border-bottom: 2px solid white;
        width: 50%;
        margin-bottom: 20px;
    }
.emailRoot
    .row {
        display: flex;
    }

@media (max-width: 800px) {
    .emailRoot .row {
        flex-direction: column;
    }
}
.emailRoot
    .contents {
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        height: 100%;
        flex: 1;
        margin: 0 20px;
    }

.emailRoot
    .margin {
        margin-left: 30px;
    }

@media (max-width: 500px) {
    .emailRoot .margin {
        margin: 0 20px;
    }
}

.emailRoot
    .text {
        color: white;
        margin-top: 10px;
        font-family: Corbel;
        font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
        text-decoration-line: underline;
    }
.emailRoot
    .input {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 2px;
        border-color: white;
        color: rgba(245, 245, 245, 1);
        font-size: 20px;
        font-family: Corbel;
        margin: 10px 0;
        padding: 5px;
        width: 100%;
        resize: vertical;
    }
.emailRoot
    .input::placeholder {
        color: black;
        opacity: 0.7;
        font-size: 20px;
      }
@media (max-width: 500px) {
    .emailRoot .input {
        margin: 10px 0;
    }
}
.emailRoot
    .title {
        color: white;
        margin-top: 10px;
        font-family: Corbel;
        font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
    }
.emailRoot
    .image {
        height:50px;
        width:auto;
        margin: 20px;
        margin-left: 0px;
    }
.emailRoot
    a {
        display: flex;
        text-decoration: none;
        color: white;
        font-family: Corbel;
        font-size: 25px;
        align-items: center;
    }