.MerchRoot {
    display: flex;
    scroll-snap-align: start;
    margin-bottom: 300px; 
}

.justifyContent {
    justify-content: flex-end;
}

.alignItems {
    align-items: flex-end;
}

.MerchRoot
    .rowReverse {
        display: flex;
        flex-direction: row-reverse;
    }

.MerchRoot
    .container {
        display: flex;
        flex-direction: column;
        width: 70vw;
        height: 640px;
        background-color: rgba(0, 0, 0, 0.4);
        color: black;
        padding: 10px;
    }

.MerchRoot
    .triangleRight {
        width: 0; 
        height: 0; 
        border-top: 660px solid transparent;
        border-left: 400px solid rgba(0, 0, 0, 0.4);
    }

.MerchRoot
    .triangleLeft {
        width: 0; 
        height: 0; 
        border-top: 660px solid transparent;
        border-right: 400px solid rgba(0, 0, 0, 0.4);
    }

@media (max-width: 600px) {
    .MerchRoot
        .triangleLeft {
            display: none;
        }
    .MerchRoot
        .triangleRight {
            display: none;
        }
    .MerchRoot
        .container {
            width: 100%;
        }
}

.MerchRoot
    .heading {
        color: white;
        margin-bottom: 10px;
        font-family: Corbel;
        font-size: 60px;
    }

.MerchRoot
    .bar {
        border-bottom: 2px solid white;
        width: 50%;
        margin-bottom: 20px;
    }

.MerchRoot
    .row {
        display: flex;
        flex: 1;
    }

@media (max-width: 950px) {
    .MerchRoot
        .row {
            flex-direction: column;
        }
}

.MerchRoot
    .text {
        display: flex;
        flex: 1;
        color: white;
        font-family: Corbel;
        font-size: 25px;
    }

.MerchRoot
    .name {
        font-size: 40px;
        font-family: Corbel;
        color: white;
    }
   
.MerchRoot
    .description {
        font-size: 30px;
        font-family: Corbel;
        color: white;
    }

.MerchRoot
    .rotateContainerLeft {
        display: flex;
        flex-direction: column;
        order: -1;
    }

.MerchRoot
    .rotateContainerRight {
        display: flex;
        flex-direction: column;
    }

.MerchRoot
    .imageWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.MerchRoot
    .imageWindow {
        height: 30vw;
        width: 30vw;
    }

.MerchRoot
    .image {
        width: 100%;
        height: auto;
        max-height: 30vw;
        max-width: 30vw;
    }

