.MerchRoot {
    display: flex;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    padding: 35vw 0 25vw 0;
}

.justifyContent {
    justify-content: flex-end;
}

.alignItems {
    align-items: flex-end;
}

.MerchRoot
    .rowReverse {
        display: flex;
        flex-direction: row-reverse;
    }

.MerchRoot
    .outerRow {
        display: flex;
        flex: 1;
    }

@media (max-width: 600px) {
    .MerchRoot
        .outerRow {
            flex-direction: column;
        }
}

.MerchRoot
    .container {
        display: flex;
        flex-direction: column;
        width: 70vw;
        height: 65vh;
        background-color: rgba(0, 0, 0, 0.4);
        color: black;
        padding: 10px;
    }

.MerchRoot
    .triangleRight {
        width: 0; 
        height: 0;
        padding: 10px;
        border-top: calc(65vh + 20px) solid transparent;
        border-left: calc(25vw + 20px) solid rgba(0, 0, 0, 0.4);
    }

.MerchRoot
    .triangleLeft {
        width: 0; 
        height: 0;
        border-top: calc(65vh + 20px) solid transparent;
        border-right: calc(25vw + 20px) solid rgba(0, 0, 0, 0.4);
    }

@media (max-width: 600px) {
    .MerchRoot
        .triangleLeft {
            display: none;
        }
    .MerchRoot
        .triangleRight {
            display: none;
        }
    .MerchRoot
        .container {
            width: calc(100vw - 20px);
            height: 100%;
        }
}

.MerchRoot
    .heading {
        color: white;
        margin-bottom: 10px;
        font-family: DaddyDay;
        font-size: 60px;
    }

.MerchRoot
    .bar {
        border-bottom: 2px solid white;
        width: 50%;
        margin-bottom: 20px;
    }

.MerchRoot
    .row {
        display: flex;
        flex: 1;
    }

@media (max-width: 950px) {
    .MerchRoot
        .row {
            flex-direction: column;
            align-items: center;
        }
}

.MerchRoot
    .text {
        display: flex;
        margin: 5vw 5vw 0 0;
        color: white;
        font-family: Corbel;
        font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
    }

@media (max-width: 950px) {
    .MerchRoot
        .text {
            margin: 10px;
        }
}

.MerchRoot
    .name {
        font-size: 40px;
        font-family: DaddyDay;
        color: white;
    }
   
.MerchRoot
    .description {
        font-size: 30px;
        font-family: DaddyDay;
        margin: 15px 0;
        color: white;
    }

.MerchRoot
    .rotateContainerLeft {
        display: flex;
        flex-direction: column;
        order: -1;
    }

@media (max-width: 950px) {
    .MerchRoot
        .rotateContainerLeft {
            order: 1;
        }
}

.MerchRoot
    .rotateContainerRight {
        display: flex;
        flex-direction: column;
    }

.MerchRoot
    .imageWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.MerchRoot
    .imageWindow {
        height: 400px;
        width: 400px;
        max-height: 20vw;
        max-width: 20vw;
        margin-bottom: 35px;
    }

.MerchRoot
    .image {
        width: 100%;
        height: auto;
        max-height: 20vw;
        max-width: 20vw;
        border: 1px solid white;
        border-radius: 5px;
    }

@media (max-width: 950px) {
    .MerchRoot
        .image {
            max-height: 50vw;
            max-width: 50vw;
        }
    .MerchRoot
        .imageWindow {
            max-height: 30vw;
            max-width: 30vw;
            margin-bottom: 20px;
        }
}

@media (max-width: 600px) {
    .MerchRoot
        .image {
            max-height: 250px;
            max-width: 250px;
        }
    .MerchRoot
        .imageWindow {
            max-height: 250px;
            max-width: 250px;
            margin-bottom: 20px;
        }
}
