.MerchRoot {
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
    margin-bottom: 50vh;
}

.MerchRoot
    .container {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        padding: 20px;
        width: 80vw;
        background-color: grey;
        color: white;
        box-shadow: 15px 5px 15px #36a3e291;
    }

.MerchRoot
    .header {
        margin-bottom: 10px;
    }

.MerchRoot
    .bar {
        border-bottom: 2px solid white;
        width: 50%;
        margin-bottom: 20px;
    }

.MerchRoot
    .row {
        display: flex;
    }

.MerchRoot
    .image {
        height: 250px;
        width: 250px;
        background-color: white;
        color: red;
        margin-right: 20px;
    }

.MerchRoot
    .text {
        margin: 20px 0;
        color: green;
    }
    