/* This is using the 'id' of an element in order to find and style it */
#container {
    display: flex;
    flex-direction: row;
}

/* This is using the 'className' of an element in order to find and style it */
.template {
    margin-right: 25px;
}