.App {
  height: 100vh;
  background-color: black;
  font-family: DaddyDay;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: background 30s infinite;
  overflow: hidden;
}

/* This will change the styles of all buttons */
button {
  cursor: pointer;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  height: calc(40px + 1vw);
  min-width: 125px;
  border-radius: 20px;  
  font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
  transition: background-color 1s ease;
  font-family: DaddyDay;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);;
  opacity: 0.9;

}

.App 
  .Scrollview {
    scroll-snap-type: y mandatory;
    overflow: auto;
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-image: url('./background-images/Background-Image-2.jpg');
  }

@media (max-width: 500px) {
  .App 
    .Scrollview {
      scroll-snap-type: none;
    }
}

  .Scrollview::-webkit-scrollbar {
      display: none  
  }


  .block {
    height: 200px;
    width: 100%;
  }

/* @keyframes background {
  0% {
    background-image: url("./background-images/Background-Image-6.jpg");
  }
  25% {
    background-image: url("./background-images/Background-Image-4.jpg");
  }
  50% {
    background-image: url("./background-images/Background-Image-3.jpg");
  }
  75% {
    background-image: url("./background-images/Background-Image-6.jpg");
  }
  100% {
    background-image: url("./background-images/Background-Image-5.jpg");
  }
} */

@font-face {
  font-family: DaddyDay;
  src: url("./assets/DaddyDay.woff");
}

@font-face {
  font-family: Corbel;
  src: url("./assets/CORBEL.TTF");
}

a {
  text-decoration: none;
}

