.App {
  text-align: center;
  background-color: black;
  font-family: DaddyDay;
  background-image: url("./background-images/Background-Image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: background 30s infinite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: DaddyDay;
  src: url("./assets/DaddyDay.woff");
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes background {
  0% {
    background-image: url("./background-images/Background-Image-1.jpg");
  }
  20% {
    background-image: url("./background-images/Background-Image-2.jpg");
  }
  40% {
    background-image: url("./background-images/Background-Image-3.jpg");
  }
  60% {
    background-image: url("./background-images/Background-Image-4.jpg");
  }
  80% {
    background-image: url("./background-images/Background-Image-5.jpg");
  }
  100% {
    background-image: url("./background-images/Background-Image-1.jpg");
  }
}

/* This will change the styles of all buttons */
button {
  background-color: transparent;
  border-color: transparent;
  color: white;
  height: calc(80px + 1vw);
  width: calc(200px + 4vw);
  border-radius: 5px;
  border: none;
  font-size: 30px;
  transition: border-color 1s ease;
  transition: background-color 1s ease;
  opacity: 1;
  font-family:DaddyDay;
}

button:focus {
  border-color: black;
  outline: none;
}

button:hover {
  background-color: black;
  border: 1px solid black;
  opacity: 0.6;
}

